<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      archiveEvery="Minute"
      archiveNumbering="Rolling"
      maxArchiveFiles="1"
      internalLogFile="c:\temp\demo-internal-log.txt">

  <extensions>
    <add assembly="NLog.Web.ASPNET5"/>
  </extensions>

  <targets>
    <target xsi:type="File"
        name="ownFile-web" 
        fileName="c:\temp\demo-own-file-${shortdate}.log" 
        layout="${message}" />
  </targets>

</nlog>