<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler"
           path="*"
           verb="*"
           modules="httpPlatformHandler"
           resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="..\approot\AspNetCoreSqlite.exe"
                  arguments="%DNX_ARGS%"
                  stdoutLogEnabled="false"
                  startupTimeLimit="3600" />
  </system.webServer>
</configuration>
