<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>    
    <add key="LocalPackages" 	value="C:\LocalPackages" />
    <add key="AspNetCore"	value="https://www.myget.org/F/aspnetvnext/api/v3/index.json" />  
    <add key="NuGetOfficial" 	value="https://nuget.org/api/v2" />
  </packageSources>
</configuration>
